@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sany-red: #EA0001;
  --color-sany-surface: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #141415;
  --foreground: #f4f4f5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
